<div id="<%= dom_id loyalty_program %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= loyalty_program.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= loyalty_program.category %>
  </p>

</div>
