<div id="<%= dom_id loyalty_program %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= loyalty_program.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= loyalty_program.category %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Partners:</strong>
    <% loyalty_program.card_partnerships.each do |partnership| %>
      <% partner = Card.find_by_id(partnership.card_id) %>
      <%= partner.name %>
    <% end %>
  </p>


</div>
